.DS_Store
*.pyc
__pycache__/
*.egg-info/
.env
*.tmp

.claude
node_modules/

context-db/context-db-project/overview.md
context-db/coding-standards/general-coding-standards
context-db/writing-standards
context-db/using-bruha
context-db/agent-behavior
context-db/local-repos-to-update/
bin/sync-to-repos.sh
